{% extends 'base.html.twig' %}


{% block carousel %}

{% endblock  %}
{% block content %}




          <!-- Three columns of text below the carousel -->
        <div class="mt-5"></div>
         <h3 class="text-center titre_produitphare">Nos produits phares</h3>{#
        <p>Découvrez nos produits du moments</p> #}
        <div class="row">
          
            {% for product in products %}
            <div class="col-md-3 col-sm-6 w-50">
                 {% include "product/single_product.html.twig" %}
            </div>
                
            {% endfor %}
           
        </div><!-- /.row -->

    </div>
      

     



        
  
      

{% endblock %}