       <!-- FOOTER -->
       <footer class="footer-custom">
        <a class="" href="{{ path('home')}}"><img width="40px" src="/assets/uploads/img/letter-white.png"
            alt=""></a>
    </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script> 
 <script src="{{ asset('assets/js/script.js') }}"></script>  
    
   
   
    </body>
    {% block script %}{% endblock %}