       <!-- FOOTER -->
       <footer class="footer-custom">
        <p>
            &copy; {{'now'|date('Y')}}  La boutique francaise <br>
            <small> La boutique 100% française <br>
                <a href="#">Privacy</a> . <a href="#">Terms</a>
            </small>

        </p>
    </footer>
 {# <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script> 
 <script src="{{ asset('assets/js/script.js') }}"></script>  #}
    
    {% block javascripts %}
     {{encore_entry_script_tags('app')}}
    {% endblock  %}
   
    </body>
    {% block script %}{% endblock %}