{% extends 'base.html.twig' %}

{% block title %}Mdp oublier{% endblock %}
{% block content %}
<div class="block-small">

    {# {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{message}}</div>
    {% endfor %} #}
    <h1 class="h3 mb-3 font-weight-normal"> Réinitialiser mot de passe</h1>
    {{form(form)}}
</div>

{% endblock %}