html,
body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    padding-top: 55px;
}

.alert {
    margin: 0;
    border: none;
}

/* .alert-notice{
    background-color: rgb(172, 238, 170);
}
.alert-warning{
    background-color: rgb(238, 170, 170);
    color: white;
} */

.marketing{
    margin-top: 50px;
}

.alert-anim {
    position: absolute;
    z-index: 1200;
    top: 55px;
    animation: pulse 5s ease-in-out forwards;

}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.table td,
.table th {
    vertical-align: middle;
}

.navbar-item-custom,
.navbar-item-custom a {
    color: white;
}
.navbar-item-custom {

    margin: 0 5px;
}

.navbar-item-custom.navbar-item-cart a{
   text-decoration: none;
}

.navbar-item-custom.navbar-item-cart i{
    margin: 0 5px;
}

.footer-custom {
    text-align: center;
    width: 100%;
    background-color: black;
    padding: 25px 10px 10px;
    margin-top: 30px;
    color: white;
}



.title_entry {
    text-transform: uppercase;
    padding: 20px;
}


.product-item {

    padding: 10px;
    border-radius: 30px;
    margin: 20px 5px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 14px;
    font-weight: bold;
}

.block-small {
    max-width: 600px;
    margin: 0 auto;
}

.form-check {
    background-color: rgb(162, 162, 227);
    padding: 20px 50px;
    margin-top: 10px;
}

.order-summary {
    background-color: rgb(162, 162, 227);
    padding: 20px;
}


.account-item {
    display: flex;
    flex-direction: column;
    background-color: #f1f2f6;

    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    color: #778ca3;

    text-decoration: none;
    font-weight: bold;
}

.account-item span {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.account-item img {
    margin: 10px auto;

}

.account-item a:hover {
    color: #778ca3;
    text-decoration: none;
}