{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block content %}



<div class="row">
    <div class="col-md-3">
        <div class="form_filter_aside"> 
            <h3>Filtrer</h3>
            {{ form(form) }}
        </div>
    </div>
    <div class="col-md-9">
        {{ Pluralize(products|length, 'Produit', 'Produits') }}
        <h3 class="title_entry">Nos produits</h3>

        <div class="row">
            {% for product in products %}

            <div class="col-md-4">

                {% include "product/single_product.html.twig" %}
               
            </div>


            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}