{% extends 'base.html.twig' %}

{% block content %}
    <h1>Inscription</h1>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
        <hr>
    {% endif %}

    {{ form(form) }}
<hr>
    <p class="text-center">Déjà un compte ? <a href="{{path('login')}}">Connectez vous</a></p>

{% endblock %}
